services:
  keycloak:
    image: 52north/keycloak:26.3.5
    container_name: keycloak
    restart: on-failure:5
#    network_mode: host
    ports:
      - 8080:8080
    command:
      - start-dev
      - --import-realm
    volumes:
      - ./realm-export.json:/opt/keycloak/data/import/realm.json
      - ./data:/opt/keycloak/data/h2/
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KC_DB=dev-file